.App {
  text-align: center;

}

.contentContainer {
  background: white;
  color: #000;
  padding: rem-calc(75 0);
  text-align: right;
  height: 100%;
  width: 50%;
  margin-left: 20%;
  margin-top: 20%;
}

body {
  font-family: 'Lato', 'Ubuntu', serif, Roboto, Arial, sans-serif !important;
}

.pagination {
  margin-top: 25px;
}

.pagination span {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination span.active {
  background-color: #0099FF;
  color: white;
  border: 1px solid #0099FF;
}

.filter-stock-active {
  display: inline-block
}


@media (min-width: 768px) {
  .filter-stock-active {
    float: left
  }
}

.filter-stock-active a {
  display: inline-block;
  padding-right: .5em;
  text-decoration: none;
  transition: color 240ms cubic-bezier(.19, 1, .22, 1)
}

.filter-stock-active a:not(:last-child)[data-separator=slash]:after {
  content: "/";
  color: #464a4c;
  margin-left: .75em
}

.filter-stock-active a[data-separator=comma]:after {
  content: ",";
  color: #464a4c
}

.filter-stock-active a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 0;
  margin: 0 2px 0 0;
  opacity: 0;
  transition: opacity 240ms cubic-bezier(.19, 1, .22, 1), width 180ms cubic-bezier(.19, 1, .22, 1);
  content: "";
}

.filter-stock-active a:hover {
  color: #464a4c
}

.filter-stock-active a:hover:before {
  opacity: 1;
  width: 1em
}

.filter-stock-active-wrap {
  margin-bottom: 15px;
}

.filter-stock-active-wrap::after {
  display: block;
  content: "";
  clear: both;
}

.results-meta {
  line-height: 2.12rem;
  padding-top: .9375rem;
  text-align: center;
  background-color: #f5f5f5;
  margin-left: -.9375rem;
  margin-right: -.9375rem;
  margin-bottom: 15px;
}

.results-meta::after {
  display: block;
  content: "";
  clear: both
}

@media (min-width: 768px) {
  .results-meta {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.results-meta .total-count {
  font-size: .75rem
}

@media (min-width: 768px) {
  .results-meta .total-count {
    float: left;
    width: 220px;
    max-width: 23%;
    margin-right: 2%;
    font-size: 1rem
  }
}

.results-meta .page-length-control {
  list-style-type: none;
  padding: 0;
  margin: 0 0 .625rem
}

@media (min-width: 768px) {
  .results-meta .page-length-control {
    float: left;
    width: 220px;
    max-width: 23%;
    margin-bottom: 0
  }
}

.results-meta .page-length-control li {
  display: inline-block
}

@media (min-width: 768px) {
  .results-meta .page-length-control li {
    float: left;
    padding: 0 1px
  }
}

.results-meta .page-length-control a {
  display: inline-block;
  padding: 0 5px;
  font-size: .875rem
}

.results-meta .page-length-control a:hover {
  text-decoration: none
}

@media (min-width: 768px) {
  .results-meta .page-length-control a {
    float: left;
    font-size: 1rem
  }
}


._bpbackinv.active,
._bpbackinv:focus,
._bpbackinv:hover {
  color: #fff;
  background-color: #e23156;
}

.ant-menu-submenu-title {
  width: 100% !important;
}