.App {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.contentContainer {
  background: white;
  color: #000;
  padding: rem-calc(75 0);
  text-align: right;
  height: 100%;
  width: 50%;
  margin-left: 20%;
  margin-top: 20%;
}